.stop-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 36px;
  padding: 15px;

  &:hover {
    background: #f1fcff;
  }

  .stop {
    display: flex;
    align-items: center;

    &:before {
      content: '';
      display: flex;
      width: 19px;
      height: 19px;
      border-radius: 3px;
      border: 1px solid #d2d5d6;
      margin-right: 10px;
    }

    &.stop_selected {
      &:before {
        background: url("../images/check.svg") no-repeat 50% 50%;
        border-color: #2196f3;
      }
    }
  }
}