:root {
  --base-text-color: #4a4a4a;
  --secondary-text-color: #8b9497;
  --sidebar-padding: 15px;
}

@font-face {
  font-family: "Open Sans Regular";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/OpenSans-Regular.woff") format("woff");
}

@keyframes rotating {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans Regular";
  color: var(--base-text-color);
  background: #f3f7fA;
}

@media (max-width: 880px) {
  body {
    .app {
      .content {
        flex-direction: column;
        align-items: center;
        padding: 0 20px;

        .sidebar {
          margin-right: 0;
          margin-bottom: 20px;
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 620px) {
  body {
    .app {
      .content {
        flex-direction: column;
        align-items: center;
        padding: 0 20px;

        .sidebar {
          margin-right: 0;
          margin-bottom: 20px;
          width: 100%;
        }
        .ticket {
          flex-direction: column;
          height: auto;

          .ticket-action {
            width: 100%;
            border-right: none;
            border-bottom: 1px solid #eceff1;
          }
        }
      }
    }
  }
}

.app {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  max-width: 818px;

  .sidebar {
    margin-right: 20px;
    flex-grow: 1;
  }

  .tickets {
    flex-grow: 1;
    width: 100%;
  }
}

.logo {
  background: url("./assets/images/Logo.svg") no-repeat 50% 50%;
  width: 61px;
  height: 61px;
  margin: 50px 0;
  cursor: pointer;

  &.logo_spin {
     animation: rotating 2s linear infinite;
   }
}

.sidebar {
  background: #fff;
  width: 232px;
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(91, 137, 164, 0.25);
  padding: 15px 0;
  flex-shrink: 0;

  .sidebar-section-title {
    font-size: 12px;
    text-transform: uppercase;
    padding: 0 15px 14px;
  }
}

.stop-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 36px;
  padding: 0 15px;

  &:hover {
    background: #f1fcff;
  }

  .stop-only {
    color: #2196f3;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 11px;
  }

  .stop {
    display: flex;
    align-items: center;
    font-size: 13px;
    text-decoration: none;
    color: var(--base-text-color);

    &:before {
      content: '';
      display: flex;
      width: 19px;
      height: 19px;
      border-radius: 3px;
      border: 1px solid #d2d5d6;
      margin-right: 10px;
    }

    &.stop_selected {
      &:before {
        background: url("./assets/images/check.svg") no-repeat 50% 50%;
        border-color: #2196f3;
      }
    }
  }
}

.currencies {
  display: flex;
  padding: 0 15px 27px;

  .currency {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100%;
    border: 1px solid #d2d5d6;
    margin-right: -1px;
    text-decoration: none;
    color: #2196f3;

    &:first-child {
      border-radius: 5px 0 0 5px;
    }

    &:last-child {
      border-radius: 0 5px 5px 0;
      margin-right: 0;
    }

    &:hover {
      border-color: #64b5f5;
      background: #f2fcff;
      z-index: 2;
    }

    &.currency_selected {
      background: #2196f3;
      color: #ffffff;
      border-color: #2196f3;
      z-index: 1;

      &:hover {
        border-color: #2196f3;
      }
    }
  }
}

.ticket {
  height: 161px;

  display: flex;
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(91, 137, 164, .25);
  margin-bottom: 20px;
  background: #ffffff;

  &:hover {
     box-shadow: 0 10px 50px rgba(91, 137, 164, .25);
  }

  .ticket-action {
    width: 200px;
    padding: 0 20px 25px;
    border-right: 1px solid #eceff1;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;

    .ticket-airline {
      flex-grow: 1;
      padding-top: 20px;
      display: flex;
      justify-content: center;

      .ticket-carrier-logo {
        display: block;
        max-height: 50px;
        max-width: 100%;
      }
    }

    .ticket-action-button {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 56px;
      border-radius: 5px;
      background: #ff6d00;
      text-align: center;
      white-space: pre-line;
      font-size: 16px;
      color: #ffffff;
      box-shadow: 0 1px #d64d08, 0 2px 1px rgba(0,0 ,0, .0);
      cursor: pointer;

      &:hover {
         background: #ff8124;
      }
    }
  }

  .ticket-details {
    width: 100%;
    padding: 20px 25px;

    .ticket-header {
      display: flex;

      .ticket-time {
        font-size: 32px;
      }

      .ticket-stops {
        padding: 7px 22px 0;
        width: 100%;

        .ticket-stops-label {
          color: var(--secondary-text-color);
          font-size: 10px;
          text-transform: uppercase;
          text-align: center;
        }

        .ticket-line {
          display: flex;
          align-items: center;

          &:before {
             content: "";
             width: 100%;
             height: 1px;
             background: #d2d5d6;
          }

          &:after {
             content: "";
             flex-shrink: 0;
             width: 13px;
             height: 13px;
             background: url("./assets/images/airplane.svg");
          }
        }
      }
    }

    .ticket-ways {
      display: flex;
      justify-content: space-between;
      font-size: 12px;
      line-height: 18px;

      .ticket-way-date {
        color: #8B9497;
      }
    }
  }
}

